

#cercaAzioni-Main{
     font: 16px Arial;  
       
    }


p.cercaAzioni{
    color:#666;font-size:13px;text-align:center;
}

.campoTesto{
    width:40%;margin-right : 0px;margin-left : 20%;
}

.bottone{
    width:10%;margin : 0px;
}

/*the container must be positioned relative:*/
.cercaAzioni-autocomplete {

  display: inline-block;
    width:100%;margin:auto;

}

input.cercaAzioni{
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text].cercaAzioni , input[type=number].cercaAzioni{
  background-color: #333;
    color : #ffcc00;
  width: 100%;
  margin-right: 30px;
}

input[type=submit].cercaAzioni {
  background-color: #ffcc00;
  color: #333;
  cursor: pointer;
    display: inline;
}

.cercaAzioni-autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.cercaAzioni-autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.cercaAzioni-autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.cercaAzioni-autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}